{%  extends "layout.html" %}
{% set active_page = "about" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2>Who is Mr. Argall?</h2>
            <p>Hello to students and parents, my name is Andrew Argall and I am a teacher-candidate (or
            preservice teacher) studying at Nipissing University in beautiful North Bay, Ontario. I
            am originally from Gore Bay, right here on Manitoulin Island. I attended secondary
            school at Manitoulin Secondary School, after which I completed my Bachelor of Science at
            the University of Guelph, specializing in biological and medical physics.</p>
            <h3>Teaching with Technology Philosophy</h3>
            <br>
            <p> Technology has become an integral part of the lives of most adults, and an
            increasing number of students in the 21st century. I believe that integrating technology
            in to the classroom gives teachers a unique opportunity to deliver curriculum content
            in a way students can really relate to.</p>
        </div>
        <div class="col-md-3">
            <br>
            <img src="/static/portrait1.jpg" alt="portrait" class="img-rounded mx-auto" width="100%">
            <br>
        </div>
    </div>
</div>
{% endblock %}